.movie-carousel {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  justify-content: center;

  .carousel-content {
      display: flex;
      overflow: hidden;
      object-fit: cover;
      cursor: pointer;
  }

  .movie-slide {
      flex: 0 0 calc(100% / 5); // Ajuste conforme necessário para quantos slides você deseja mostrar
      padding: 10px;
      text-align: center;

      img {
          width:100%;
          height: 100%;
          border-radius: 10px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          transition: transform 0.3s;

          &:hover {
              transform: scale(1.02);
          }
      }

      h3 {
          margin-top: 10px;
          font-size: 16px;
          color: #fff;
      }
  }

  .carousel-control {
      background: none;
      border: none;
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;

      &:hover {
        color: #ff9800; // Cor diferente ao passar o mouse
      }

      &.left {
          left: 10px;
      }

      &.right {
          right: 10px;
      }
  }
}
