.serie-details-page {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding: 34px;
    background-color: #fcfcfcbd;

    img {
        width: 34%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
        
        &:hover {
            transform: scale(1.03);
        }
    }

    .content {
        display: flex;
        flex-direction: row;
        width: 80%;
    }
    .details-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        margin-left: 24px;

        h1 {
            font-size: 2.5rem;
            font-weight: bold;
            margin-bottom: 20px;
            color: #333;
        }

        p {
            font-size: 1.2rem;
            line-height: 1.6;
            color: #555;
            margin-bottom: 20px;
        }

        strong {
            color: #ff6600;
        }

        .genres {
            margin-top: 10px;
            font-style: italic;
        }

        .description-serie{
            margin-top: 20px;
            line-height: 1.8;
            color: #555;
            font-size: 1.4rem;  
            text-align: justify;
            max-width: 700px;
        }
    }

    // Media queries for responsiveness
    @media (max-width: 1024px) {
        flex-direction: column; // Stack elements vertically on smaller screens
        align-items: center; // Center content for smaller screens

        img {
            width: 60%; // Adjust image size for tablets
        }

        .content {
            flex-direction: column; // Stack elements vertically on smaller screens
            align-items: center; // Center content for smaller screens
        }
        .details-content {
            width: 100%;
            margin-left: 0;
            padding: 10px;

            h1 {
                font-size: 2rem;
            }

            p, .description-serie {
                font-size: 1.5rem;
            }
        }
    }

    @media (max-width: 768px) {
        padding: 20px;

        img {
            width: 80%; // Further reduce image size for smaller devices
        }

        .content {
            flex-direction: column; // Stack elements vertically on smaller screens
            align-items: center; // Center content for smaller screens
        }
        .details-content {
            h1 {
                font-size: 1.8rem;
            }

            p, .description-serie {
                font-size: 1rem;
            }
        }
    }

    @media (max-width: 480px) {
        padding: 10px;


        img {
            width: 80%; // Maximize the image size for mobile screens
        }

        .content {
            flex-direction: column; // Stack elements vertically on smaller screens
            align-items: center; // Center content for smaller screens
        }

        .details-content {
            padding: 10px;
            width: 100%;

            h1 {
                font-size: 1.5rem;
            }

            p, .description-serie {
                font-size: 0.9rem; // Further reduce text size for readability on mobile
            }
        }
    }
}
