.movie-card {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    position: relative;

    .movie-poster img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 1;
        transition: opacity .6s;
    }

    .movie-infos {
        position: absolute;
        bottom: 0;
        background: linear-gradient(#00000000, #000000 90%);
        height: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 10px;

        .movie-title {
            font-size: 12px;
            color: #f1f5f9;
            margin-bottom: 6px;
        }

        .hidden-content {
            color: #f1f5f9;
            font-size: 12px;
            margin-top: 8px;
            height: 0px;
            opacity: 0;
            transition: all .6s;

            .btn-default {
                background: #f1f5f9;
                border: none;
                color: #333;
                margin-top: 10px;
                padding: 6px 8px;
                border-radius: 10px;
                cursor: pointer;
                width: 100%;
            }
        }
    }

    &:hover {
        cursor: pointer;
        .movie-poster img {
            opacity: 0.5;
        }

        .hidden-content {
            opacity: 1;
        }

        .movie-infos:has(.description) .hidden-content{
            height: 100px;
        }

        .movie-infos:not(:has(.description)) .hidden-content {
            height: 50px;
        }
    }
}

/* Estilos para telas menores (tablets e smartphones) */
@media (max-width: 768px) {
    .movie-card {
        height: auto; /* Ajusta altura para caber melhor em telas menores */
        
        .movie-infos {
            height: 150px; /* Reduz o tamanho da informação para telas menores */
            padding: 8px;

            .movie-title {
                font-size: 14px; /* Aumenta o tamanho da fonte para melhorar legibilidade */
                margin-bottom: 0px;
            }

            .hidden-content {
                font-size: 11px; /* Fonte um pouco maior para melhor leitura */
                .btn-default {
                    padding: 4px 6px; /* Botão menor */
                }
            }
        }
    }
}

@media (max-width: 460px) {
    .movie-card {
        height: auto;

        .movie-poster img {
            height: 200px; /* Reduz a altura da imagem para caber melhor */
        }

        .movie-infos {
            height: 120px; /* Reduz a área das informações */
            padding: 6px;

            .movie-title {
                font-size: 12px; /* Ajusta tamanho da fonte para telas bem pequenas */
            }

            .hidden-content {
                font-size: 10px; /* Fonte menor para caber nas telas pequenas */
                .btn-default {
                    padding: 2px 3px; /* Botão menor */
                }
            }
        }
    }
}