.home-page {
    padding: 20px;
    background-color: #121212;
    color: #fff;

    .home-lan {
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
    }

    .movies {
        h2 {
            margin-bottom: 20px;
        }
    }

    .series {
        // Estilos para a seção de séries populares
    }
}
