.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 72px);
}

.serie-list {
    padding: 24px 3%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    list-style: none;
    width: 100%;

    @media (max-width: 768px) {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); // Ajuste para telas menores
        gap: 12px;
    }

    @media (max-width: 480px) {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); // Ajuste para dispositivos móveis
        gap: 8px;
    }
}

.serie-radio {
    display: flex;
    justify-content: center;
    margin: 20px;

    .radio-input {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    button {
        background-color: #fff;
        color: #FFC107;
        border: 2px solid #FFC107;
        border-radius: 20px;
        width: 50px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: #FFC107;
            color: #fff;
        }

        &:disabled {
            background-color: #f0f0f0;
            color: #b0b0b0;
            border-color: #d0d0d0;
            cursor: not-allowed;
        }

        @media (max-width: 768px) {
            width: 40px;
            height: 35px; // Reduzido para telas menores
        }

        @media (max-width: 480px) {
            width: 35px;
            height: 30px; // Reduzido ainda mais para dispositivos móveis
        }
    }

    input[type="radio"] {
        display: none;
    }

    label {
        position: relative;
    }

    span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 40px;
        font-size: 16px;
        background-color: #fff;
        border: 2px solid #FFC107;
        border-radius: 20px;
        color: #FFC107;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: #FFC107;
            color: #fff;
        }

        @media (max-width: 768px) {
            width: 25px;
            height: 35px; // Ajustado para telas menores
            font-size: 14px;
        }

        @media (max-width: 480px) {
            width: 20px;
            height: 30px; // Ajustado para dispositivos móveis
            font-size: 12px;
        }
    }

    input[type="radio"]:checked + span {
        background-color: #FFC107;
        color: #fff;
        transform: scale(1.1);
    }
}
