.movie-carouselP {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .carousel-control {
        background: transparent;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        transition: color 0.3s ease; // Transição suave ao passar o mouse

        &:hover {
            color: #ff9800; // Cor diferente ao passar o mouse
        }

        &.left {
            left: 10px;
        }

        &.right {
            right: 10px;
        }
    }

    .carousel-content {
        display: flex;
        align-items: center;
        overflow: hidden;
        width: 90%;
        position: relative;

        .movie-card {
            flex: 1;
            margin: 0 10px;
            border-radius: 30px;
            list-style: none;
            transition: transform 0.3s ease, box-shadow 0.3s ease; // Animação suave

            &:hover {
                transform: scale(1.05); // Efeito de zoom ao passar o mouse
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); // Sombra ao passar o mouse
            }
        }

        .more-button {
            background-color: #007bff;
            border: none;
            border-radius: 50%;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            position: absolute;
            bottom: 20px;
            right: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            z-index: 1;
            transition: background-color 0.3s ease, transform 0.3s ease; // Suaviza transições

            &:hover {
                background-color: #0056b3;
                transform: scale(1.1); // Aumenta ligeiramente o botão ao passar o mouse
            }
        }
    }

    // Media Queries para ajustar a responsividade
    @media (max-width: 768px) {
        .carousel-control {
            font-size: 20px; // Reduz o tamanho dos controles em telas menores
        }

        .carousel-content {
            width: 100%; // Ajusta o conteúdo para ocupar toda a largura da tela
            .movie-card {
                margin: 0 5px; // Menos margem em telas menores
            }
        }

        .more-button {
            bottom: 10px;
            right: 10px;
            font-size: 14px;
        }
    }

    @media (max-width: 480px) {
        .carousel-control {
            font-size: 18px; // Reduz ainda mais o tamanho em telas muito pequenas
        }

        .carousel-content {
            .movie-card {
                margin: 0 3px; // Margens bem pequenas em telas pequenas
            }
        }

        .more-button {
            padding: 8px;
            font-size: 12px; // Botão menor em telas muito pequenas
        }
    }
}
